body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.label {
  color: white;
  padding: 8px;
}

.date-selector {
  background-color: #04AA6D;
}